In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib notebook

/cvmfs/cdms.opensciencegrid.org/releases/centos7/V04-08/lib/python3.7/site-packages/pandas/compat/_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
pd.__version__

'1.3.5'

In [3]:
filename = "/cvmfs/data/CDMS/RQanalysis_testing/share/index_test.h5"

In [4]:
df = pd.read_hdf(filename, "df")

In [5]:
for col in ["SeriesNumber", "EventNumber"]:
    df[col] = df[col].astype(np.int)

In [6]:
df.index.unique()

Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            599990, 599991, 599992, 599993, 599994, 599995, 599996, 599997,
            599998, 599999],
           dtype='int64', length=600000)

In [7]:
df

,SeriesNumber,EventNumber,qzpartOFi,DetNum,Index_WithDetNum,Index_NoDetNum
0,11409112000,10001,1.455196,1,6057965471664640257,6057965471664640256
1,11409112000,10002,-0.099515,1,6057965471664640513,6057965471664640512
2,11409112000,10003,0.521154,1,6057965471664640769,6057965471664640768
3,11409112000,10004,11.963902,1,6057965471664641025,6057965471664641024
4,11409112000,10005,1.518247,1,6057965471664641281,6057965471664641280
...,...,...,...,...,...,...
599995,11409120236,3240184,NaN,15,6058067520914520079,6058067520914520064
599996,11409120236,3240185,NaN,15,6058067520914520335,6058067520914520320
599997,11409120236,3240186,-4.089163,15,6058067520914520591,6058067520914520576
599998,11409120236,3240187,1.999089,15,6058067520914520847,6058067520914520832
599999,11409120236,3240188,19.348373,15,6058067520914521103,6058067520914521088

In [8]:
series = df["SeriesNumber"].unique()

In [9]:
series

array([11409112000, 11409112318, 11409120236])

In [10]:
(df.index == 0).sum()

15

In [11]:
(df.EventNumber == 10001).sum()

45

In [12]:
(df.EventNumber == 3240186).sum()

45

In [13]:
len(df.EventNumber.unique())

221345

In [14]:
df[df.EventNumber==10001]

,SeriesNumber,EventNumber,qzpartOFi,DetNum,Index_WithDetNum,Index_NoDetNum
0,11409112000,10001,1.455196,1,6057965471664640257,6057965471664640256
0,11409112000,10001,-0.495189,2,6057965471664640258,6057965471664640256
0,11409112000,10001,-0.676046,3,6057965471664640259,6057965471664640256
0,11409112000,10001,-3.678922,4,6057965471664640260,6057965471664640256
0,11409112000,10001,-0.305698,5,6057965471664640261,6057965471664640256
0,11409112000,10001,-0.041508,6,6057965471664640262,6057965471664640256
0,11409112000,10001,-0.849444,7,6057965471664640263,6057965471664640256
0,11409112000,10001,1.103298,8,6057965471664640264,6057965471664640256
0,11409112000,10001,-3.602202,9,6057965471664640265,6057965471664640256
0,11409112000,10001,-1.092787,10,6057965471664640266,6057965471664640256
0,11409112000,10001,0.573590,11,6057965471664640267,6057965471664640256
0,11409112000,10001,1.875457,12,6057965471664640268,6057965471664640256
0,11409112000,10001,-0.289278,13,6057965471664640269,6057965471664640256
0,11409112000,10001,-0.291230,14,6057965471664640270,6057965471664640256
0,11409112000,10001,2.106571,15,6057965471664640271,6057965471664640256
218786,11409112318,10001,0.721170,1,6058016495876116737,6058016495876116736
218786,11409112318,10001,-0.301683,2,6058016495876116738,6058016495876116736
218786,11409112318,10001,83.188925,3,6058016495876116739,6058016495876116736
218786,11409112318,10001,-1.484254,4,6058016495876116740,6058016495876116736
218786,11409112318,10001,-7.501553,5,6058016495876116741,6058016495876116736
218786,11409112318,10001,-1.088664,6,6058016495876116742,6058016495876116736
218786,11409112318,10001,-0.708509,7,6058016495876116743,6058016495876116736
218786,11409112318,10001,0.864727,8,6058016495876116744,6058016495876116736
218786,11409112318,10001,-0.220769,9,6058016495876116745,6058016495876116736
218786,11409112318,10001,-1.256738,10,6058016495876116746,6058016495876116736
218786,11409112318,10001,-6.304981,11,6058016495876116747,6058016495876116736
218786,11409112318,10001,-6.199179,12,6058016495876116748,6058016495876116736
218786,11409112318,10001,-2.683908,13,6058016495876116749,6058016495876116736
218786,11409112318,10001,24.546402,14,6058016495876116750,6058016495876116736
218786,11409112318,10001,-0.338878,15,6058016495876116751,6058016495876116736
438884,11409120236,10001,0.427265,1,6058067520087593217,6058067520087593216
438884,11409120236,10001,-3.110559,2,6058067520087593218,6058067520087593216
438884,11409120236,10001,-1.164276,3,6058067520087593219,6058067520087593216
438884,11409120236,10001,-0.653729,4,6058067520087593220,6058067520087593216
438884,11409120236,10001,0.155031,5,6058067520087593221,6058067520087593216
438884,11409120236,10001,-0.072097,6,6058067520087593222,6058067520087593216
438884,11409120236,10001,-1.994444,7,6058067520087593223,6058067520087593216
438884,11409120236,10001,0.879760,8,6058067520087593224,6058067520087593216
438884,11409120236,10001,15.832216,9,6058067520087593225,6058067520087593216
438884,11409120236,10001,-0.742496,10,6058067520087593226,6058067520087593216
438884,11409120236,10001,-0.501138,11,6058067520087593227,6058067520087593216
438884,11409120236,10001,-3.521476,12,6058067520087593228,6058067520087593216
438884,11409120236,10001,-1.843469,13,6058067520087593229,6058067520087593216
438884,11409120236,10001,-4.468785,14,6058067520087593230,6058067520087593216
438884,11409120236,10001,-2.053420,15,6058067520087593231,6058067520087593216

In [15]:
df_index_no_detnum = df.set_index("Index_NoDetNum")

In [16]:
df_index_detnum = df.set_index("Index_WithDetNum")

In [17]:
df_multiindex = df.set_index(["SeriesNumber", "EventNumber", "DetNum"])

In [18]:
df_integer_index = df

In [19]:
level_length = list(map(len, df_multiindex.index.levels))

In [20]:
level_length

[3, 221345, 15]

In [21]:
np.product(level_length)

9960525

In [22]:
len(df)

9000000

# Sorted by channel

First all detector 1 samples for all events, then detector 2 for all events.
In this case both indices are not monotonic, they are piecewise sorted.

## Performance on cache join

Pandas dataframes 2 methods, to join:

* `join` is a simpler version for joining on index
* `merge` is more flexible and can join on columns

In [23]:
cache = df_integer_index.sample(frac=.8)

In [24]:
df_index_detnum_cache = df_index_detnum.sample(frac=.8)

In [25]:
%timeit df_index_detnum.join(df_index_detnum_cache, rsuffix="cached")

1.52 s Â± 13.4 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [26]:
%timeit df_index_detnum.merge(df_index_detnum_cache, right_index=True, left_index=True, how="left", suffixes=[None, "cached"])

1.52 s Â± 6.71 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [27]:
df_multiindex_cache = df_multiindex.sample(frac=.8)

In [28]:
%timeit df_multiindex.join(df_multiindex_cache, rsuffix="cached")

8.82 s Â± 34.7 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

We benchmark joining with the "time-only" index both using the original dataframe and the dataframe with "Index_NoDetNum" as index

In [29]:
df_cache = df.sample(frac=.8)

In [30]:
%timeit df.merge(df_cache, on=["Index_NoDetNum", "DetNum"], how="left", suffixes=[None, "cached"])

4.64 s Â± 36.6 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [31]:
df_index_no_detnum_cache = df_index_no_detnum.sample(frac=.8)

In [32]:
%timeit df_index_no_detnum.merge(df_index_no_detnum_cache, on=["Index_NoDetNum", "DetNum"], how="left", suffixes=[None, "cached"])

4.74 s Â± 93.3 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

# Investigate sorting

The index of `df_index_detnum` is not sorted, because it is partially ordered by channel

In [33]:
df_index_detnum.index.is_monotonic

False

In [34]:
df_index_detnum.index.is_unique

True

In [35]:
df_index_detnum_sorted = df_index_detnum.sort_index()

In [36]:
df_index_detnum_sorted_cache = df_index_detnum_sorted.sample(frac=.8)

In [37]:
df_index_detnum_sorted.index.is_monotonic

True

In [38]:
%timeit df_index_detnum_sorted.join(df_index_detnum_sorted_cache, rsuffix="cached")

1.49 s Â± 35 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

Suprisingly, sorting has only minor performance benefits

# Investigate pivoting channels

The natural way of storing data with a time coordinate and several channels is to have the time coordinate be the index and having 1 column per channel.
This makes very efficient to access 1 column at a time (especially if using a columnar data storage).
It also saves memory by not repeating the time coordinate again and again for all channels.

In [39]:
df_index_no_detnum_pivoted = df_index_no_detnum.pivot(columns="DetNum")

In [40]:
df_index_no_detnum.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9000000 entries, 6057965471664640256 to 6058067520914521088
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   SeriesNumber      int64
 1   EventNumber       int64
 2   qzpartOFi         float64
 3   DetNum            int64
 4   Index_WithDetNum  int64
dtypes: float64(1), int64(4)
memory usage: 412.0 MB

In [41]:
df_index_no_detnum_pivoted.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 600000 entries, 6057965471664640256 to 6058067520914521088
Data columns (total 60 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   (SeriesNumber, 1)       600000 non-null  int64
 1   (SeriesNumber, 2)       600000 non-null  int64
 2   (SeriesNumber, 3)       600000 non-null  int64
 3   (SeriesNumber, 4)       600000 non-null  int64
 4   (SeriesNumber, 5)       600000 non-null  int64
 5   (SeriesNumber, 6)       600000 non-null  int64
 6   (SeriesNumber, 7)       600000 non-null  int64
 7   (SeriesNumber, 8)       600000 non-null  int64
 8   (SeriesNumber, 9)       600000 non-null  int64
 9   (SeriesNumber, 10)      600000 non-null  int64
 10  (SeriesNumber, 11)      600000 non-null  int64
 11  (SeriesNumber, 12)      600000 non-null  int64
 12  (SeriesNumber, 13)      600000 non-null  int64
 13  (SeriesNumber, 14)      600000 non-null  int64
 14  (SeriesNumber, 15)      600000 non-null  int64
 15  (EventNumber, 1)        600000 non-null  int64
 16  (EventNumber, 2)        600000 non-null  int64
 17  (EventNumber, 3)        600000 non-null  int64
 18  (EventNumber, 4)        600000 non-null  int64
 19  (EventNumber, 5)        600000 non-null  int64
 20  (EventNumber, 6)        600000 non-null  int64
 21  (EventNumber, 7)        600000 non-null  int64
 22  (EventNumber, 8)        600000 non-null  int64
 23  (EventNumber, 9)        600000 non-null  int64
 24  (EventNumber, 10)       600000 non-null  int64
 25  (EventNumber, 11)       600000 non-null  int64
 26  (EventNumber, 12)       600000 non-null  int64
 27  (EventNumber, 13)       600000 non-null  int64
 28  (EventNumber, 14)       600000 non-null  int64
 29  (EventNumber, 15)       600000 non-null  int64
 30  (qzpartOFi, 1)          137292 non-null  float64
 31  (qzpartOFi, 2)          137292 non-null  float64
 32  (qzpartOFi, 3)          137292 non-null  float64
 33  (qzpartOFi, 4)          140452 non-null  float64
 34  (qzpartOFi, 5)          140452 non-null  float64
 35  (qzpartOFi, 6)          140452 non-null  float64
 36  (qzpartOFi, 7)          185890 non-null  float64
 37  (qzpartOFi, 8)          185890 non-null  float64
 38  (qzpartOFi, 9)          185890 non-null  float64
 39  (qzpartOFi, 10)         265663 non-null  float64
 40  (qzpartOFi, 11)         265663 non-null  float64
 41  (qzpartOFi, 12)         265663 non-null  float64
 42  (qzpartOFi, 13)         303142 non-null  float64
 43  (qzpartOFi, 14)         303142 non-null  float64
 44  (qzpartOFi, 15)         303142 non-null  float64
 45  (Index_WithDetNum, 1)   600000 non-null  int64
 46  (Index_WithDetNum, 2)   600000 non-null  int64
 47  (Index_WithDetNum, 3)   600000 non-null  int64
 48  (Index_WithDetNum, 4)   600000 non-null  int64
 49  (Index_WithDetNum, 5)   600000 non-null  int64
 50  (Index_WithDetNum, 6)   600000 non-null  int64
 51  (Index_WithDetNum, 7)   600000 non-null  int64
 52  (Index_WithDetNum, 8)   600000 non-null  int64
 53  (Index_WithDetNum, 9)   600000 non-null  int64
 54  (Index_WithDetNum, 10)  600000 non-null  int64
 55  (Index_WithDetNum, 11)  600000 non-null  int64
 56  (Index_WithDetNum, 12)  600000 non-null  int64
 57  (Index_WithDetNum, 13)  600000 non-null  int64
 58  (Index_WithDetNum, 14)  600000 non-null  int64
 59  (Index_WithDetNum, 15)  600000 non-null  int64
dtypes: float64(15), int64(45)
memory usage: 279.2 MB

equivalent operation for multiindex is `unstack`, by default unstacks the last level of the index

In [42]:
# df_multiindex.unstack()

In [43]:
df_index_no_detnum_pivoted_cache = df_index_no_detnum_pivoted.sample(frac=.8)

In [44]:
%timeit df_index_no_detnum_pivoted.join(df_index_no_detnum_pivoted_cache, rsuffix="cached")

396 ms Â± 1.05 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

We do not need to have all the duplicated columns, so we could get rid of them

In [45]:
df_index_no_detnum_pivoted = df_index_no_detnum[["qzpartOFi", "DetNum"]].pivot(columns="DetNum")

In [46]:
df_index_no_detnum_pivoted_cache = df_index_no_detnum_pivoted.sample(frac=.8)

In [47]:
%timeit df_index_no_detnum_pivoted.join(df_index_no_detnum_pivoted_cache, rsuffix="cached")

145 ms Â± 18.1 ms per loop (mean Â± std. dev. of 7 runs, 10 loops each)

In [48]:
df_index_no_detnum_pivoted.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 600000 entries, 6057965471664640256 to 6058067520914521088
Data columns (total 15 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   (qzpartOFi, 1)   137292 non-null  float64
 1   (qzpartOFi, 2)   137292 non-null  float64
 2   (qzpartOFi, 3)   137292 non-null  float64
 3   (qzpartOFi, 4)   140452 non-null  float64
 4   (qzpartOFi, 5)   140452 non-null  float64
 5   (qzpartOFi, 6)   140452 non-null  float64
 6   (qzpartOFi, 7)   185890 non-null  float64
 7   (qzpartOFi, 8)   185890 non-null  float64
 8   (qzpartOFi, 9)   185890 non-null  float64
 9   (qzpartOFi, 10)  265663 non-null  float64
 10  (qzpartOFi, 11)  265663 non-null  float64
 11  (qzpartOFi, 12)  265663 non-null  float64
 12  (qzpartOFi, 13)  303142 non-null  float64
 13  (qzpartOFi, 14)  303142 non-null  float64
 14  (qzpartOFi, 15)  303142 non-null  float64
dtypes: float64(15)
memory usage: 89.4 MB